body {
    background-color: #f0f0f0;
}

.dropdown-menu {
    background-color: #2E4B5E;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #1C2B38;
    color: #ffffff;
}

  div iframe#maps_ida {
    height: 350px;
    width: 550px;
  }
  
  div iframe#maps_volta {
    height: 350px;
    width: 550px;
  }
